

.divmain {
    border-radius: 30px;
    width: 672px;
    height: 736px;
background: #f0eff4;
padding: 32px 32px;
margin-top: 20px;
position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
}

.spantitle {
    font-family: "Gilroy", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.05556;
letter-spacing: -0.01em;
color: #323f47;
}

.title1 {
    font-family: "Gilroy", sans-serif;
font-weight: 400;
font-size: 36px;
line-height: 1.05556;
letter-spacing: -0.01em;
color: #323f47;
}
.divleb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border-radius: 30px;
    padding: 6px 12px;
    width: 157px;
    height: 56px;
    background: #323f47;
}

.title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
}

.foto {
    width: 44px;
    height: 44px;
}

.btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.head {
    display: flex;
    align-items: center;
    margin-top: 49px;
}

.tet {
    font-family: "Poppins", sans-serif;
font-weight: 700;
font-size: 28px;
line-height: 1.14286;
letter-spacing: -0.01em;
color: #323f47;
margin-right: 460px;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.add {
    font-family: "Poppins", sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.01em;
text-align: center;
color: #323f47;
}

.list {
    width: 670px;
    display: flex;
    gap: 16px;
    margin-top: 24px;
    list-style-type: none;
    padding: 0px;

}

.item {
    border-radius: 15px;
padding-top: 30px;
padding-left: 20px;
padding-right: 20px;
width: 192px;
height: 86px;
backdrop-filter: blur(33.599998474121094px);
background: #fff;
display: flex;
text-align: center;
justify-content: space-between;
}

.spamli {
    font-family: "Poppins", sans-serif;
font-weight: 700;
font-size: 15px;
line-height: 1.49333;
color: #323f47;
}

.div7 {
    display: flex;
    flex-direction: column;
    gap: 7px; /* Расстояние между элементами */
}

.div6 {
    display: flex;
    flex-direction: column;
    gap: 30px; /* Расстояние между элементами */
}

.spamlii {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.86667;
    color: rgba(47, 47, 47, 0.6);
}

.line {
    margin-top:24px;
    border: none;
    border-radius: 9px;
    width: 658px;
    height: 8px;
    background: linear-gradient(to right, #323F47 33%, #fff 33%);
}

.stata {
    font-family: "Poppins", sans-serif;
font-weight: 700;
font-size: 28px;
line-height: 1.14286;
letter-spacing: -0.01em;
color: #323f47;
margin-right: 270px;
}

.divmoth1 {
    display: flex;
    align-items: center;
    text-align: center;

}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 30px;
}

.pie {
position: absolute;
right: 40px;
top: 452px;
}


.list1 {
padding: 0px;
display: flex;
flex-direction: column;
gap: 17px;
}

.list2 {
    padding: 0px;
    display: flex;
    gap: 71px;
    margin-left: 79px;
    margin-top: 20px;
}

.static {
    position: relative;
}

.graf {
    position: absolute;
    left: 80px;
    bottom: 67px;
}