.customCalendar {
  display: flex;
  flex-direction: column;
  width: 608px;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
}

.calendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0eff4;
  padding: 10px;
  height: 32px;
}

.calendarDaysOfWeek,
.calendarDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.day,
.emptyDay {
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column; /* добавлено для вертикального размещения */
  align-items: center;
  justify-content: center;
}

.day:hover .dayNumber {
  background-color: grey;
}

.day.selected .dayNumber {
  background-color: #d0e6a5;
}

.day .dayNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  width: 38px;
  height: 38px;
  background-color: #fff;
  color: #000;
}

.day.current .dayNumber {
  background-color: black;
  color: #9be1a0;
}

.percentage {
  font-size: 12px; /* размер текста "100%" */
  color: #666; /* цвет текста "100%" */
  margin-top: 4px; /* отступ сверху от числа месяца */
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 20px;
}

.divmoth {
  padding-left: 300px;
}