.boxForm {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
  }
  
  .title {
    text-align: center;
  }
  
  .label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .labelText {
    margin-bottom: 5px;
  }
  
  .input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }